@import "mobile";

* {
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;

    &:before,
    &:after {
        box-sizing: border-box;
        -webkit-font-smoothing: subpixel-antialiased;
        text-rendering: optimizeLegibility;
    }
}

// Colors
$color-white: #fff;
$color-black: #000;
$color-mainDark: #393e46;
$color-bgVideo: #f0f0f0;
$color-button: #4285F4;

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.otf') format('woff2');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-ExtraBold.otf') format('woff2');
}

footer,
.contact .right img,
h2,
a,
.contact .contact-links li a,
p,
h3,
.contact h1,
.contact span,
main,
.single-project-grid,
.single-project-grid div h1,
.single-project-grid div p,
header .menu #back a,
.title,
.single-project-grid #see-online span,
.about,
.skills,
.portfolio,
.contact {
    -webkit-transition: all 700ms cubic-bezier(1, 0, 0, 1);
    transition: all 700ms cubic-bezier(1, 0, 0, 1);
}

.animation {
    -webkit-transition: all 700ms cubic-bezier(1, 0, 0, 1);
    transition: all 700ms cubic-bezier(1, 0, 0, 1);
}

.dark-theme {

    .contact .right img {
        border: 40px solid #232931;
        border-bottom: none;
    }

    header,
    footer,
    .about,
    .skills,
    .portfolio,
    .contact,
    .single-project-grid,
    .hero {
        background-color: $color-mainDark;
    }

    h2,
    a,
    .contact .contact-links li a,
    p,
    h3,
    .contact h1,
    .contact span,
    .single-project-grid div h1,
    .single-project-grid div p,
    header .menu #back a,
    #skills-left-p {
        color: $color-white;
    }

    a,
    .about #frontend,
    .title {
        color: $color-white;
    }
}

html {
    font-size: 15px;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    overflow: hidden;
}

body {
    font-family: 'Montserrat',
        sans-serif;
    margin: 0;
    opacity: 0;
    height: 100vh;
    overflow-x: hidden;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    overflow-x: hidden;
}

p {
    font-weight: 300;
}

b {
    font-weight: 600;
}

p a {
    color: $color-black;
}

a {
    text-decoration: none;

}

hr {
    width: 70%;
    border: 1px solid #EBECEE;
    margin: 0 auto;
}

.change-browser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background: white;
}

.particle {
    position: absolute;
    border-radius: 50%;
}

#particle-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1
}

@for $i from 1 through 26 {
    @keyframes particle-animation-#{$i} {
        100% {
            transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        }
    }

    .particle:nth-child(#{$i}) {
        animation: particle-animation-#{$i} 60s infinite;
        $size: random(5) + 5 + px;
        opacity: random(100)/100;
        height: $size;
        width: $size;
        animation-delay: -$i * .2s;
        transform: translate3d((random(90) * 1vw), (random(90) * 2vh), (random(100) * 1px));
        background: hsl(random(360), 70%, 50%);
    }
}

.container {
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: 150px 1fr auto;
    min-height: 100%;
}

.anchor {
    display: block;
    height: 0;
    visibility: hidden;
}

.pleaserotate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0;
    background-color: $color-white;
    z-index: 99999;
    display: none;
}

.pleaserotate>h1 {
    text-align: center;
    font-size: 35px;
    width: auto;
}

header {
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 150px;
    z-index: 1000;
    padding-left: 150px;
    padding-right: 150px;
}

header h2 {
    a {
        color: $color-black;
    }

    text-align: left;
    margin-top: 0;
    font-size: 20px;
}

/* Theme switcher */
.switcher {
    top: 30px;
    opacity: 1;
    text-align: left;
    visibility: visible;
    margin-left: auto;
}

.toggle {
    position: relative;
    display: block;
    width: 42px;
    height: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    margin: 0;
    float: right;
}

.toggle i {
    position: absolute;
    font-size: 13px;
    top: 5.5px;
    left: 5.4px;
}

.toggle:before,
.toggle-mobile:before {
    content: "";
    position: relative;
    top: 1px;
    left: 1px;
    width: 40px;
    height: 22px;
    display: block;
    background: #c8ccd4;
    border-radius: 12px;
    transition: background 0.2s ease;
}

.toggle span,
.toggle-mobile span {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    display: block;
    background: $color-white;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
    transition: all 0.2s ease;
}

#cbx:checked+.toggle span {
    transform: translateX(18px);
}

/* ##################################### */

.fa-facebook,
.fa-instagram,
.fa-envelope,
.fa-telegram-plane,
.fa-github,
.fa-desktop {
    transition: all 0.2s ease-in;
}

.fa-facebook:hover {
    color: #3b5998
}

.fa-instagram:hover {
    color: #cd486b
}

.fa-envelope:hover,
.fa-desktop:hover {
    color: #ffa500
}

.fa-telegram-plane:hover {
    color: #0088cc
}

.fa-github:hover {
    color: #6e5494
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
    height: 40px;
    text-align: center;
    width: 100%;
    background-color: $color-white;
    top: calc(100vh - 40px);
}

footer h2 {
    height: 0;
    margin-left: 0;
    letter-spacing: 0;
}

#loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    overflow: visible;
    text-align: center;
    background-color: $color-white;
}

#loader svg {
    width: 100%;
    height: 40px;
}

#loader svg {

    path,
    rect {
        fill: $color-black;
    }
}

h1 {
    font-size: 40px;
    font-family: 'Gilroy-Bold';
    text-transform: uppercase;
    margin: 0 auto;
}

h2 {
    padding-left: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 800;
    line-height: 15px;
}

h3 {
    font-size: 20px;
    font-family: 'Metropolis';
    text-align: right;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5em;
}

.hero img {
    width: 40%;
    margin-top: 5em;
}

.button-container {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid $color-button;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    color: $color-black;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
}

.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: $color-button;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:hover {
    color: $color-white;
    border: 1px solid $color-button;
}

.button:hover:before {
    top: -35%;
    background-color: $color-button;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
    top: -45%;
    background-color: $color-button;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.title {
    font-weight: 800;
    font-size: 15px;
}

.about {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* #################################### */


.portfolio {
    min-height: 70vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#meme {
    font-size: 10px;
    font-style: italic;
}

.portfolio figure {
    text-align: center;
    margin: 0;
}

.portfolio img {
    width: 80%;
    vertical-align: middle;
    transition: all .2s ease-in-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
    grid-column: 1/3;
    margin-top: 10em;
    margin-bottom: 10em;
}

.all-projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 2em;
}

.all-projects-grid a {
    text-decoration: none;
}

.all-projects-grid .hover {
    height: 0;
    width: 100%;
    background: linear-gradient(120deg, #4285f4 0%, #63bbf5 100%);
    position: absolute;
    bottom: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
    line-height: normal;

    span {
        margin-left: 50px;
        margin-top: 200px;
        width: 80%;
        display: none;
    }
}

.all-projects-grid {
    div {
        position: relative;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        color: $color-white;
        line-height: 40px;
        -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
        transition: all 500ms cubic-bezier(1, 0, 0, 1);
        border-radius: 8px;

        #type {
            font-family: 'Gilroy-Light';
            font-style: italic;
            letter-spacing: 2px;
            margin-left: 50px;
            margin-top: 150px;
            z-index: 1;
            -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
            transition: all 500ms cubic-bezier(1, 0, 0, 1);
        }

        #name {
            font-family: 'Gilroy-Bold';
            font-size: 35px;
            margin-left: 50px;
            z-index: 1;
            -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
            transition: all 500ms cubic-bezier(1, 0, 0, 1);
        }
    }

    #photographer {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/ph.jpg') center center;
        background-size: cover;
        background-repeat: no-repeat;

        &:hover {
            .hover {
                height: 500px;
                opacity: .9;

                span {
                    display: block;
                }
            }

            #type {
                margin-top: 40px;
            }
        }
    }
}

.all-projects .restaurant_anchor {
    margin-top: 250px;
}

.all-projects-grid {
    #restaurant {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/rest.jpg') center center;
        background-size: cover;
        background-repeat: no-repeat;

        &:hover {
            .hover {
                height: 500px;
                opacity: .9;

                span {
                    display: block;
                }
            }

            #type {
                margin-top: 40px;
            }
        }
    }

    .estate_anchor {
        margin-top: -250px;
    }

    #estate {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/estate.jpg') center center;
        background-size: cover;
        background-repeat: no-repeat;

        &:hover {
            .hover {
                height: 500px;
                opacity: .9;

                span {
                    display: block;
                }
            }

            #type {
                margin-top: 40px;
            }
        }
    }

    #blog {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/next.jpg') center center;
        background-size: cover;
        background-repeat: no-repeat;

        &:hover {
            .hover {
                height: 500px;
                opacity: .9;

                span {
                    display: block;
                }
            }

            #type {
                margin-top: 40px;
            }
        }
    }
}

.about {
    .left {
        place-self: center;
        text-align: center;

        img {
            width: 80%;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }

    .right {
        place-self: center;
        padding: 5em;
    }
}

.contact {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3em;
    padding-bottom: 3em;

    h1 {
        color: $color-black;
        text-transform: none;
        text-align: center;
    }

    span {
        color: $color-black;
    }

    .left img {
        width: 80%;
        object-fit: cover;
        border-radius: 8px;
        margin-left: 6em;
    }

    .contact-links {
        list-style: none;
        margin-top: 0;
        padding-left: 0;

        li {
            display: inline-block;
            margin: 10px;
            transition: transform 0.5s;

            a {
                color: $color-black;
                font-size: 25px;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .left,
    .right {
        place-self: center;
        text-align: center;
    }
}

.skills {
    .left {
        place-self: center;
        padding: 5em;
        padding-left: 8em;
    }

    .right {
        place-self: center;
        width: 100%;
        text-align: center;

        img {
            width: 60%;
        }
    }
}

// Single project
header .menu #back {
    margin-right: 10px;
    font-size: 18px;
    float: left;
    z-index: 2000;
    height: 40px;
    width: 40px;
    -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 700ms cubic-bezier(1, 0, 0, 1);

    a {
        color: $color-black;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.single-project-header {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 302px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: linear-gradient(120deg, #4285f4 0%, #63bbf5 100%);
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 5em;
    padding-bottom: 5em;

    #title {
        font-family: 'Gilroy-Bold';
        font-size: 42px;
        color: $color-white;
    }

    #title2 {
        font-family: 'Gilroy-Bold';
        font-size: 42px;
        color: $color-black;
    }
}

.single-project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-left: 7em;
    padding-right: 7em;
    margin: 0 auto;
    padding-top: 5em;
    grid-gap: 5em 3em;

    div {
        h1 {
            font-family: 'Gilroy-Bold';
            font-size: 42px;
            width: auto;
            text-transform: none;
            text-align: left;
        }

        justify-self: center;
        align-self: center;
    }

    #title {
        justify-self: center;
        align-self: center;
    }

    div p {
        line-height: 25px;
        font-size: 15px;
        font-weight: 300;
    }

    #project-video {
        background-color: $color-bgVideo;
        grid-column: 1/3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        video {
            width: 75%;
            padding: 3em;
        }

        #mobile {
            width: 30%;
        }
    }

    #see-online {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 300px;
        grid-column: 1/3;
        background-image: linear-gradient(120deg, #4285f4 0%, #63bbf5 100%);

        #prev {
            margin-right: auto;
            padding: 40px;
        }

        #next {
            margin-left: auto;
            padding: 40px;
        }

        #prev:hover,
        #next:hover {
            transform: scale(1.2);
        }

        a {
            text-decoration: none;
            color: $color-white;
        }
    }
}

#lang {
    color: $color-black;
}