*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.otf") format("woff2");
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy-ExtraBold.otf") format("woff2");
}

.change-browser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: white;
}

a {
  text-decoration: none;
}

footer,
.contact .right img,
h2,
a,
.contact .contact-links li a,
p,
h3,
.contact h1,
.contact span,
#hero-sun,
#hero-moon,
main,
.single-project-grid,
.single-project-grid div h1,
.single-project-grid div p,
header .menu #back a,
.title,
.single-project-grid #see-online span,
.about,
.skills,
.portfolio,
.contact {
  -webkit-transition: all 700ms cubic-bezier(1, 0, 0, 1);
  transition: all 700ms cubic-bezier(1, 0, 0, 1);
}

.animation {
  -webkit-transition: all 700ms cubic-bezier(1, 0, 0, 1);
  transition: all 700ms cubic-bezier(1, 0, 0, 1);
}

.dark-theme .contact .right img {
  border: 40px solid #232931;
  border-bottom: none;
}

.dark-theme header,
.dark-theme footer,
.dark-theme .about,
.dark-theme .skills,
.dark-theme .portfolio,
.dark-theme .contact,
.dark-theme .single-project-grid,
.dark-theme .hero {
  background-color: #393e46;
}

.dark-theme h2,
.dark-theme a,
.dark-theme .contact .contact-links li a,
.dark-theme p,
.dark-theme h3,
.dark-theme .contact h1,
.dark-theme .contact span,
.dark-theme .single-project-grid div h1,
.dark-theme .single-project-grid div p,
.dark-theme header .menu #back a,
.dark-theme #skills-left-p {
  color: #fff;
}

.dark-theme a,
.dark-theme .about #frontend,
.dark-theme .title {
  color: #fff;
}

.dark-theme .about #frontend:hover {
  color: #546A7B;
}

.dark-theme #hero-sun {
  margin-top: -100vh;
}

.dark-theme #hero-moon {
  margin-top: 20vh;
}

html {
  font-size: 15px;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  opacity: 0;
  height: 100vh;
  overflow-x: hidden;
  -webkit-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  overflow-x: hidden;
}

p {
  font-weight: 300;
}

b {
  font-weight: 600;
}

p a {
  color: black;
}

hr {
  width: 70%;
  border: 1px solid #EBECEE;
  margin: 0 auto;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

#particle-container {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(43vw, 1vh, 34px);
            transform: translate3d(43vw, 1vh, 34px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(43vw, 1vh, 34px);
            transform: translate3d(43vw, 1vh, 34px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.25;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(23vw, 66vh, 82px);
          transform: translate3d(23vw, 66vh, 82px);
  background: #91d926;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(20vw, 61vh, 50px);
            transform: translate3d(20vw, 61vh, 50px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(20vw, 61vh, 50px);
            transform: translate3d(20vw, 61vh, 50px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.47;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(22vw, 88vh, 58px);
          transform: translate3d(22vw, 88vh, 58px);
  background: #2650d9;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(7vw, 88vh, 50px);
            transform: translate3d(7vw, 88vh, 50px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(7vw, 88vh, 50px);
            transform: translate3d(7vw, 88vh, 50px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.32;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(58vw, 120vh, 10px);
          transform: translate3d(58vw, 120vh, 10px);
  background: #7ad926;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(62vw, 70vh, 69px);
            transform: translate3d(62vw, 70vh, 69px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(62vw, 70vh, 69px);
            transform: translate3d(62vw, 70vh, 69px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.85;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(58vw, 2vh, 53px);
          transform: translate3d(58vw, 2vh, 53px);
  background: #d9af26;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(85vw, 9vh, 26px);
            transform: translate3d(85vw, 9vh, 26px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(85vw, 9vh, 26px);
            transform: translate3d(85vw, 9vh, 26px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.41;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(51vw, 28vh, 94px);
          transform: translate3d(51vw, 28vh, 94px);
  background: #26b2d9;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(5vw, 84vh, 97px);
            transform: translate3d(5vw, 84vh, 97px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(5vw, 84vh, 97px);
            transform: translate3d(5vw, 84vh, 97px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.08;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(56vw, 134vh, 20px);
          transform: translate3d(56vw, 134vh, 20px);
  background: #b5d926;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(43vw, 7vh, 75px);
            transform: translate3d(43vw, 7vh, 75px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(43vw, 7vh, 75px);
            transform: translate3d(43vw, 7vh, 75px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.05;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(22vw, 118vh, 41px);
          transform: translate3d(22vw, 118vh, 41px);
  background: #26d985;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(84vw, 57vh, 89px);
            transform: translate3d(84vw, 57vh, 89px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(84vw, 57vh, 89px);
            transform: translate3d(84vw, 57vh, 89px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.48;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(42vw, 54vh, 63px);
          transform: translate3d(42vw, 54vh, 63px);
  background: #26d92f;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(52vw, 78vh, 49px);
            transform: translate3d(52vw, 78vh, 49px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(52vw, 78vh, 49px);
            transform: translate3d(52vw, 78vh, 49px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.3;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(62vw, 114vh, 89px);
          transform: translate3d(62vw, 114vh, 89px);
  background: #65d926;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(47vw, 66vh, 25px);
            transform: translate3d(47vw, 66vh, 25px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(47vw, 66vh, 25px);
            transform: translate3d(47vw, 66vh, 25px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.86;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(2vw, 124vh, 51px);
          transform: translate3d(2vw, 124vh, 51px);
  background: #d92638;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(64vw, 24vh, 69px);
            transform: translate3d(64vw, 24vh, 69px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(64vw, 24vh, 69px);
            transform: translate3d(64vw, 24vh, 69px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.99;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(14vw, 76vh, 73px);
          transform: translate3d(14vw, 76vh, 73px);
  background: #267ad9;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(55vw, 75vh, 49px);
            transform: translate3d(55vw, 75vh, 49px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(55vw, 75vh, 49px);
            transform: translate3d(55vw, 75vh, 49px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.27;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(67vw, 168vh, 89px);
          transform: translate3d(67vw, 168vh, 89px);
  background: #5fd926;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(54vw, 9vh, 48px);
            transform: translate3d(54vw, 9vh, 48px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(54vw, 9vh, 48px);
            transform: translate3d(54vw, 9vh, 48px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 1;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(74vw, 130vh, 33px);
          transform: translate3d(74vw, 130vh, 33px);
  background: #d9263e;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(85vw, 73vh, 2px);
            transform: translate3d(85vw, 73vh, 2px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(85vw, 73vh, 2px);
            transform: translate3d(85vw, 73vh, 2px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.56;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(51vw, 138vh, 81px);
          transform: translate3d(51vw, 138vh, 81px);
  background: #65d926;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(2vw, 62vh, 34px);
            transform: translate3d(2vw, 62vh, 34px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(2vw, 62vh, 34px);
            transform: translate3d(2vw, 62vh, 34px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.08;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(2vw, 46vh, 1px);
          transform: translate3d(2vw, 46vh, 1px);
  background: #d9a626;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(31vw, 56vh, 44px);
            transform: translate3d(31vw, 56vh, 44px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(31vw, 56vh, 44px);
            transform: translate3d(31vw, 56vh, 44px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.65;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(85vw, 42vh, 75px);
          transform: translate3d(85vw, 42vh, 75px);
  background: #26d94a;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(81vw, 8vh, 1px);
            transform: translate3d(81vw, 8vh, 1px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(81vw, 8vh, 1px);
            transform: translate3d(81vw, 8vh, 1px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.87;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(17vw, 38vh, 74px);
          transform: translate3d(17vw, 38vh, 74px);
  background: #c126d9;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(45vw, 90vh, 51px);
            transform: translate3d(45vw, 90vh, 51px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(45vw, 90vh, 51px);
            transform: translate3d(45vw, 90vh, 51px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.52;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(54vw, 88vh, 14px);
          transform: translate3d(54vw, 88vh, 14px);
  background: #2f26d9;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(8vw, 69vh, 53px);
            transform: translate3d(8vw, 69vh, 53px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(8vw, 69vh, 53px);
            transform: translate3d(8vw, 69vh, 53px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.52;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(22vw, 162vh, 1px);
          transform: translate3d(22vw, 162vh, 1px);
  background: #d92650;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(12vw, 82vh, 11px);
            transform: translate3d(12vw, 82vh, 11px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(12vw, 82vh, 11px);
            transform: translate3d(12vw, 82vh, 11px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.37;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(57vw, 18vh, 14px);
          transform: translate3d(57vw, 18vh, 14px);
  background: #8526d9;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(22vw, 72vh, 14px);
            transform: translate3d(22vw, 72vh, 14px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(22vw, 72vh, 14px);
            transform: translate3d(22vw, 72vh, 14px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.19;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(16vw, 178vh, 93px);
          transform: translate3d(16vw, 178vh, 93px);
  background: #acd926;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(26vw, 64vh, 96px);
            transform: translate3d(26vw, 64vh, 96px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(26vw, 64vh, 96px);
            transform: translate3d(26vw, 64vh, 96px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.93;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(23vw, 90vh, 80px);
          transform: translate3d(23vw, 90vh, 80px);
  background: #d94126;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(83vw, 2vh, 75px);
            transform: translate3d(83vw, 2vh, 75px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(83vw, 2vh, 75px);
            transform: translate3d(83vw, 2vh, 75px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.1;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(18vw, 136vh, 79px);
          transform: translate3d(18vw, 136vh, 79px);
  background: #26d9cd;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(28vw, 40vh, 2px);
            transform: translate3d(28vw, 40vh, 2px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(28vw, 40vh, 2px);
            transform: translate3d(28vw, 40vh, 2px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.38;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(59vw, 10vh, 15px);
          transform: translate3d(59vw, 10vh, 15px);
  background: #2677d9;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(72vw, 52vh, 5px);
            transform: translate3d(72vw, 52vh, 5px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(72vw, 52vh, 5px);
            transform: translate3d(72vw, 52vh, 5px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.47;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(71vw, 130vh, 75px);
          transform: translate3d(71vw, 130vh, 75px);
  background: #3226d9;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(48vw, 17vh, 39px);
            transform: translate3d(48vw, 17vh, 39px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(48vw, 17vh, 39px);
            transform: translate3d(48vw, 17vh, 39px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.74;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(62vw, 54vh, 12px);
          transform: translate3d(62vw, 54vh, 12px);
  background: #267ad9;
}

.container {
  width: 100%;
  position: absolute;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "content" "footer";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 150px 1fr auto;
      grid-template-rows: 150px 1fr auto;
  min-height: 100%;
}

.anchor {
  display: block;
  height: 0;
  visibility: hidden;
}

.pleaserotate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 0;
  background-color: white;
  z-index: 99999;
  display: none;
}

.pleaserotate > h1 {
  text-align: center;
  font-size: 35px;
  width: auto;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 150px;
  z-index: 1000;
  padding-left: 150px;
  padding-right: 150px;
}

.scrolled {
  background-color: white;
}

header h2 a {
  color: black;
}

header h2 {
  text-align: left;
  margin-top: 0;
  font-size: 20px;
}

/* Theme switcher */
.switcher {
  top: 30px;
  opacity: 1;
  text-align: left;
  visibility: visible;
  margin-left: auto;
}

.toggle {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  margin: 0;
  float: right;
}

.toggle i {
  position: absolute;
  font-size: 13px;
  top: 5.5px;
  left: 5.4px;
}

.toggle:before,
.toggle-mobile:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 22px;
  display: block;
  background: #c8ccd4;
  border-radius: 12px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.toggle span,
.toggle-mobile span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
          box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#cbx:checked + .toggle span {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

#cbx:checked + .toggle #sun {
  opacity: 0;
}

/* ##################################### */
.fa-facebook,
.fa-instagram,
.fa-envelope,
.fa-telegram-plane,
.fa-github,
.fa-desktop {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #cd486b;
}

.fa-envelope:hover,
.fa-desktop:hover {
  color: #ffa500;
}

.fa-telegram-plane:hover {
  color: #0088cc;
}

.fa-github:hover {
  color: #6e5494;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  height: 40px;
  text-align: center;
  width: 100%;
  background-color: white;
  top: calc(100vh - 40px);
}

footer h2 {
  height: 0;
  margin-left: 0;
  letter-spacing: 0;
}

#loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  overflow: visible;
  text-align: center;
  background-color: #fff;
}

#loader svg {
  width: 100%;
  height: 40px;
}

#loader svg path,
#loader svg rect {
  fill: #000;
}

h1 {
  font-size: 40px;
  font-family: 'Gilroy-Bold';
  text-transform: uppercase;
  margin: 0 auto;
}

h2 {
  padding-left: 0;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
}

h3 {
  font-size: 20px;
  font-family: 'Metropolis';
  text-align: right;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 5em;
}

.hero img {
  width: 40%;
  margin-top: 5em;
}

.button-container {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4285F4;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  color: #000;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.25);
          transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  -webkit-transform: translateX(-50%) scaleY(1) scaleX(1.45);
          transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #4285F4;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #ffffff;
  border: 1px solid #4285F4;
}

.button:hover:before {
  top: -35%;
  background-color: #4285F4;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #4285F4;
  -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
          transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

#hero-sun {
  margin-top: 20vh;
  margin-left: 10%;
}

#hero-moon {
  margin-top: -100vh;
  margin-left: 10%;
}

.title {
  font-weight: 800;
  font-size: 15px;
}

.about {
  height: calc(100vh - 80px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about #frontend {
  color: #546A7B;
}

.skills {
  height: calc(100vh - 80px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

/* #################################### */
.portfolio {
  min-height: 70vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#meme {
  font-size: 10px;
  font-style: italic;
}

.portfolio figure {
  text-align: center;
  margin: 0;
}

.portfolio img {
  width: 80%;
  vertical-align: middle;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.all-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 85%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-top: 10em;
  margin-bottom: 10em;
}

.all-projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 2em;
}

.all-projects-grid a {
  text-decoration: none;
}

.all-projects-grid .hover {
  height: 0;
  width: 100%;
  background: linear-gradient(120deg, #4285f4 0%, #63bbf5 100%);
  position: absolute;
  bottom: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: normal;
}

.all-projects-grid .hover span {
  margin-left: 50px;
  margin-top: 200px;
  width: 80%;
  display: none;
}

.all-projects-grid div {
  position: relative;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  line-height: 40px;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
  border-radius: 8px;
}

.all-projects-grid div #type {
  font-family: 'Gilroy-Light';
  font-style: italic;
  letter-spacing: 2px;
  margin-left: 50px;
  margin-top: 150px;
  z-index: 1;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
}

.all-projects-grid div #name {
  font-family: 'Gilroy-Bold';
  font-size: 35px;
  margin-left: 50px;
  z-index: 1;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
}

.all-projects-grid #photographer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/ph.jpg") center center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/ph.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.all-projects-grid #photographer:hover .hover {
  height: 500px;
  opacity: .9;
}

.all-projects-grid #photographer:hover .hover span {
  display: block;
}

.all-projects-grid #photographer:hover #type {
  margin-top: 40px;
}

.all-projects .restaurant_anchor {
  margin-top: 250px;
}

.all-projects-grid #restaurant {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/rest.jpg") center center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/rest.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.all-projects-grid #restaurant:hover .hover {
  height: 500px;
  opacity: .9;
}

.all-projects-grid #restaurant:hover .hover span {
  display: block;
}

.all-projects-grid #restaurant:hover #type {
  margin-top: 40px;
}

.all-projects-grid .estate_anchor {
  margin-top: -250px;
}

.all-projects-grid #estate {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/estate.jpg") center center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/estate.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.all-projects-grid #estate:hover .hover {
  height: 500px;
  opacity: .9;
}

.all-projects-grid #estate:hover .hover span {
  display: block;
}

.all-projects-grid #estate:hover #type {
  margin-top: 40px;
}

.all-projects-grid #blog {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/next.jpg") center center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/next.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.all-projects-grid #blog:hover .hover {
  height: 500px;
  opacity: .9;
}

.all-projects-grid #blog:hover .hover span {
  display: block;
}

.all-projects-grid #blog:hover #type {
  margin-top: 40px;
}

.about .left {
  place-self: center;
  text-align: center;
}

.about .left img {
  width: 80%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.about .right {
  place-self: center;
  padding: 5em;
}

.contact {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 3em;
  padding-bottom: 3em;
}

.contact h1 {
  color: black;
  text-transform: none;
  text-align: center;
}

.contact span {
  color: black;
}

.contact .left img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin-left: 6em;
}

.contact .contact-links {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.contact .contact-links li {
  display: inline-block;
  margin: 10px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact .contact-links li a {
  color: black;
  font-size: 25px;
}

.contact .contact-links li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact .left {
  place-self: center;
  text-align: center;
}

.contact .right {
  place-self: center;
  text-align: center;
}

.skills .left {
  place-self: center;
  padding: 5em;
  padding-left: 8em;
}

.skills .right {
  place-self: center;
  width: 100%;
  text-align: center;
}

.skills .right img {
  width: 60%;
}

header .menu #back {
  margin-right: 10px;
  font-size: 18px;
  float: left;
  z-index: 2000;
  height: 40px;
  width: 40px;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 700ms cubic-bezier(1, 0, 0, 1);
  transition: all 700ms cubic-bezier(1, 0, 0, 1);
}

header .menu #back a {
  color: black;
}

header .menu #back:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.single-project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 302px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: linear-gradient(120deg, #4285f4 0%, #63bbf5 100%);
  padding-left: 7em;
  padding-right: 7em;
  padding-top: 5em;
  padding-bottom: 5em;
}

.single-project-header #title {
  font-family: 'Gilroy-Bold';
  font-size: 42px;
  color: white;
}

.single-project-header #title2 {
  font-family: 'Gilroy-Bold';
  font-size: 42px;
  color: black;
}

.single-project-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-left: 7em;
  padding-right: 7em;
  margin: 0 auto;
  padding-top: 5em;
  grid-gap: 5em 3em;
}

.single-project-grid div h1 {
  font-family: 'Gilroy-Bold';
  font-size: 42px;
  width: auto;
  text-transform: none;
  text-align: left;
}

.single-project-grid div {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.single-project-grid #title {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.single-project-grid div p {
  line-height: 25px;
  font-size: 15px;
  font-weight: 300;
}

#lang {
  color: #000;
}

.single-project-grid #project-video {
  background-color: #f0f0f0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.single-project-grid #project-video video {
  width: 75%;
  padding: 3em;
}

.single-project-grid #project-video #mobile {
  width: 30%;
}

.single-project-grid #see-online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background-image: linear-gradient(120deg, #4285f4 0%, #63bbf5 100%);
}

.single-project-grid #see-online #prev {
  margin-right: auto;
  padding: 40px;
}

.single-project-grid #see-online #next {
  margin-left: auto;
  padding: 40px;
}

.single-project-grid #see-online #prev:hover,
.single-project-grid #see-online #next:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.single-project-grid #see-online a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 800px) {
  .all-projects-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    -ms-grid-rows: 80px 1fr auto;
        grid-template-rows: 80px 1fr auto;
  }
  main {
    margin: 0;
  }
  .hero {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: .4fr 1fr;
        grid-template-rows: .4fr 1fr;
    margin-top: 0;
  }
  .hero p {
    margin: 0;
    padding: 0 1em 1em;
  }
  .hero img {
    width: 80%;
    margin-top: 2em;
  }
  .about .left {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .about .left img {
    width: 80%;
  }
  header h2 {
    text-align: center;
    margin-left: 0;
  }
  header {
    width: 100%;
    height: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .switcher {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  #hero-sun,
  #hero-moon {
    display: none;
  }
  footer {
    position: unset;
  }
  .about {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    min-height: 100vh;
    height: auto;
  }
  .about .right {
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 7em;
    margin-bottom: 5em;
  }
  .skills {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: auto;
    min-height: 100vh;
  }
  .portfolio {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: auto;
    padding-bottom: 0;
  }
  .portfolio .all-projects {
    grid-column: auto;
  }
  .portfolio .right {
    margin-top: 3em;
  }
  .portfolio .right img {
    width: 100%;
  }
  .portfolio .right figure {
    margin: 1em;
  }
  .all-projects-grid .restaurant_anchor {
    margin-top: 0;
  }
  .all-projects-grid .estate_anchor {
    margin-top: 0;
  }
  .contact {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: auto;
    padding-bottom: 0;
  }
  .contact .left {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .contact .left img {
    margin-left: 0;
  }
  .portfolio .right {
    margin-right: 3em;
    margin-left: 3em;
  }
  .single-project-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .single-project-grid #project-video {
    grid-column: auto;
  }
  .single-project-grid #see-online {
    grid-column: auto;
  }
  .single-project-grid #project-video video {
    width: 100%;
  }
  .single-project-grid #project-video #mobile {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  #goback {
    top: 50px;
  }
  .project-header {
    padding: 0;
  }
  .project-header h2 {
    margin-right: auto;
  }
  .about .right,
  .skills .left {
    margin: 0;
    padding: 2em;
  }
  .portfolio .right {
    margin-left: 1em;
    margin-right: 1em;
  }
  .contact .contact-links li {
    margin: 20px;
  }
  .contact .contact-links li a {
    font-size: 30px;
  }
  footer h2 {
    font-size: 12px;
  }
  .all-projects {
    padding-bottom: 3em;
  }
  .portfolio {
    min-height: 100vh;
  }
  .portfolio .all-projects {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0;
  }
  .contact .left img {
    width: 90%;
  }
  .single-project-grid {
    padding-left: 1em;
    padding-right: 1em;
  }
  .single-project-header {
    padding-left: 1em;
    padding-right: 1em;
  }
  .single-project-grid #project-video video {
    padding: 1em;
  }
  header .menu #back {
    left: 0;
  }
  .single-project-grid #see-online #prev,
  .single-project-grid #see-online #next {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */