*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Bold.woff2') format('woff2');

}

html {
    font-size: 18px;
    width: 100vw;
}

body {
    font-family: 'Montserrat',
        sans-serif;
    margin: 0;
    opacity: 0;
    height: 100%;
    opacity: 0;

}

header {
    grid-area: header;
    background-color: white;
    position: fixed;
    width: calc(100% - 40px);
    height: 40px;
    z-index: 1000;
}

header .social {
    float: right;
    position: fixed;
    top: calc(50vh - 65px);
    left: calc(100vw - 73px);
    padding-left: 0;
    text-align: center;
}

header .social ul {
    list-style: none;
    text-align: center;
    font-size: 25px;
}

header .social ul li a {
    color: black;
}

main {
    grid-area: content;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

footer {
    grid-area: footer;
    height: 40px;
    width: 100%;
    background-color: white;
    top: calc(100vh - 40px);
    position: fixed;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    overflow: visible;
    background: rgb(255, 255, 255) url("../img/loader.gif") no-repeat center center;
    background-size: 300px 300px;
}

h1 {
    font-size: 60px;
    font-family: 'Metropolis';
    text-transform: uppercase;
    text-align: right;
    width: 240px;
    margin: 0;
}

h2 {
    margin-left: 40px;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 800;
    line-height: 15px;
    letter-spacing: 5px;
}

h3 {
    font-size: 20px;
    font-family: 'Metropolis';
    text-align: right;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 80px);
    margin-top: 40px;
}

.hero .left {
    /* background-color: rgb(252, 90, 86); */
    background-color: #0D1F2D;
}

.hero .right {
    /* background-color: rgb(248, 248, 248); */
    background-color: #546A7B;
}

/* Wrapper to Center the Typewriter */
.wrapper {
    height: calc(100vh - 80px);
    width: calc(100% - 80px);
    margin: 0 auto;
    z-index: 1;
    position: absolute;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centeredBox {
    width: 60%;
    text-align: center;
}

/* The Typewriter */

#typewriter {
    color: white;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Metropolis';
    text-transform: uppercase;
}

.cursor {
    font-size: 50px;
    border-left: 4px solid white;
    animation: blink 1s infinite;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

/* Scroll down arrow */

.arrow {
    width: 2.1rem;
    height: 100px;
    top: 80vh;
    left: calc(50vw - 1.05rem);
    position: absolute;
    z-index: 9999;
}

.chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: white;
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }

    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
    }

    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
    }

    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
    }
}

.menu #menu-text {
    float: left;
    position: fixed;
    top: 10px;
    left: 30px;
    padding-left: 0;
    text-align: center;
    color: white;
    font-size: 10px;
    font-family: 'Metropolis';
    letter-spacing: 5px;
    transform: rotate(-90deg);
    text-transform: uppercase;
}

label .menu {
    position: relative;
    z-index: 100;
    width: 40px;
    right: 5px;
    top: calc(50vh - 80px);
    float: left;
    height: 50px;
    transition: 0.5s ease-in-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    cursor: pointer;
}

label .text {
    left: 40px;
}

label .hamburger {
    z-index: 9999;
    position: relative;
    top: 18px;
    left: 10px;
    width: 30px;
    height: 2px;
    background: black;
    display: block;
    transform-origin: center;
    transition: 0.5s ease-in-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

label .hamburger:after,
label .hamburger:before {
    transition: 0.5s ease-in-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: black;
}

label .hamburger:before {
    top: -10px;
}

label .hamburger:after {
    bottom: -10px;
}

label input {
    display: none;
}

label input:checked+.menu {
    z-index: 1000;
    border-radius: 0;
}

label input:checked+.menu .hamburger {
    transform: rotate(45deg);
    background: black;
}

label input:checked+.menu .hamburger:after {
    transform: rotate(90deg);
    background: black;
    bottom: 0;
}

label input:checked+.menu .hamburger:before {
    transform: rotate(90deg);
    background: black;
    top: 0;
}

label input:checked+.menu+ul {
    visibility: visible;
    opacity: 1;
}

label ul {
    list-style: none;
    padding: 0;
    height: 100vh;
    width: 235px;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    z-index: 200;
    position: absolute;
    top: 40px;
    left: 39px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    transition: visibility 0s,
        opacity 0.5s linear;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 1001;
}

label ul li {
    font-size: 20px;
    width: auto;
    margin: 20px;
}

label a {
    margin-bottom: 1em;
    display: block;
    float: left;
    clear: left;
    color: black;
    text-decoration: none;
    font-weight: 900;
}

.social-mobile {
    visibility: hidden;
}

.underline--magical {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

.underline--magical:hover {
    background-size: 100% 88%;
}

.container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

.anchor {
    display: block;
    height: 40px;
    margin-top: -40px;
    visibility: hidden;
}

.about {
    height: calc(100vh - 80px);
    background: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills {
    height: calc(100vh - 80px);
    background: rgb(28, 27, 31);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Skills progress bars */

.skills-bar-container {
    width: 80%;
    padding-left: 0;
    list-style: none;
    height: 80%;
}

.skills-bar-container li {
    /* position: absolute; */
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.skills-bar-container li .progressbar-title {
    color: #fff;
}

.skills-bar-container li .progressbar-title h3 {
    display: inline-block;
}

.skills-bar-container li .progressbar-title .percent {
    position: absolute;
    right: 5px;
}

.skills-bar-container li .bar-container {
    background: #555;
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 5px;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.skills-bar-container li .bar-container .progressbar {
    position: absolute;
    width: 0%;
    height: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.skills-bar-container li .bar-container #progress-html {
    -webkit-animation-name: progress-html;
    animation-name: progress-html;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.skills-bar-container li .bar-container #progress-css {
    -webkit-animation-name: progress-css;
    animation-name: progress-css;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.skills-bar-container li .bar-container #progress-javascript {
    -webkit-animation-name: progress-javascript;
    animation-name: progress-javascript;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s;
}

.skills-bar-container li .bar-container #progress-php {
    -webkit-animation-name: progress-php;
    animation-name: progress-php;
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s;
}

.skills-bar-container li .bar-container #progress-angular {
    -webkit-animation-name: progress-angular;
    animation-name: progress-angular;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
}

.progressred {
    background-color: #c0392b;
}

.progressblue {
    background-color: #1199ff;
}

.progresspurple {
    background-color: #9b59b6;
}

.progressorange {
    background-color: #ffa500;
}

.progressgreen {
    background-color: #27ae60;
}

@-webkit-keyframes progress-html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@-webkit-keyframes progress-css {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@-webkit-keyframes progress-javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}

@-moz-keyframes progress-html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@-moz-keyframes progress-css {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@-moz-keyframes progress-javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}


@keyframes progress-html {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes progress-css {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes progress-javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}


/* #################################### */

.portfolio {
    height: calc(100vh - 80px);
    background: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portfolio .left {
    place-self: center;
}

.portfolio .right {
    display: grid;
    grid-template-columns: auto;
}

.portfolio .right div {
    place-self: center;
    text-align: center;
}

.portfolio .right img {
    width: 100%;
    transition: all .2s ease-in-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.portfolio .right figcaption {
    font-style: italic;
    display: inline-block;
}

.portfolio .right img:hover {
    transform: scale(0.95);
}

.about .left {
    place-self: center;
    text-align: center;
}

.about .left img {
    width: 70%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 10%;
}

.about .right {
    place-self: center;
    margin-right: 5em;

}

.contact {
    height: calc(100vh - 80px);
    background: rgb(28, 27, 31);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact .left {
    place-self: center;
}

.contact .right {
    place-self: center;
}

.skills .left {
    place-self: center;
}

.skills .right {
    place-self: center;
    width: 100%
}



@media screen and (max-width: 768px) {
    main {
        margin: 0;
    }

    header .social {
        visibility: hidden;
    }

    label ul {
        left: 0;
        z-index: 0;
    }

    header h2 {
        text-align: center;
        margin-left: 0;
    }

    header {
        width: 100%;
    }

    .wrapper {
        width: 100%;
    }

    .hero {
        height: 100vh;
        margin-top: 0;
    }

    footer {
        position: absolute;
    }

    label .hamburger,
    label .hamburger:after,
    label .hamburger:before {
        background: white;
        z-index: 9999;
    }

    label input:checked+.menu .hamburger {
        background: black;
    }

    label input:checked+.menu .hamburger:after {
        background: black;
    }

    label input:checked+.menu .hamburger:before {
        background: black;
    }

    .about {
        grid-template-columns: auto;
        min-height: calc(100vh - 40px);
    }

    .about .right {
        margin-right: 3em;
        margin-left: 3em;

    }

    .skills {
        grid-template-columns: auto;
        min-height: calc(100vh - 40px);
    }

    .skills-bar-container {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .portfolio {
        grid-template-columns: auto;
        min-height: calc(100vh - 40px);
    }

    .contact {
        grid-template-columns: auto;
        min-height: calc(100vh - 40px);
    }

}

@media screen and (max-width: 500px) {
    label .menu {
        top: 50px;
    }

    label ul li {
        margin-left: 50px;
        margin-top: 20vh;
    }

    label ul li a {
        font-size: 30px;
    }

    .centeredBox {
        width: 100%;
    }
}