*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Metropolis';
  src: url("../fonts/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.otf") format("woff2");
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy-ExtraBold.otf") format("woff2");
}

.change-browser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: white;
}

footer,
.container,
header,
.menu ul,
.menu ul li a,
.contact .right img,
h2,
a,
.contact .contact-links li a,
#scrolldown,
p,
h3,
.contact h1,
.contact span,
label input:checked + .menu .hamburger,
label input:checked + .menu .hamburger:after,
label input:checked + .menu .hamburger:before,
.based,
#hero-sun,
#hero-moon,
.underline--magical:hover,
main,
.single-project-grid div h1,
.single-project-grid div p,
header .menu #back a,
.hero .left,
.title {
  -webkit-transition: all 700ms cubic-bezier(1, 0, 0, 1);
  transition: all 700ms cubic-bezier(1, 0, 0, 1);
}

.dark-theme .menu ul,
.dark-theme header {
  background-color: #232931;
}

.dark-theme .contact .right img {
  border: 40px solid #232931;
  border-bottom: none;
}

.dark-theme .arrow path {
  fill: white;
  stroke: white;
}

.dark-theme main,
.dark-theme footer {
  background-color: #393e46;
}

.dark-theme .hero .left {
  background-color: #7d7f83;
}

.dark-theme h2,
.dark-theme a,
.dark-theme .contact .contact-links li a,
.dark-theme #typewriter,
.dark-theme p,
.dark-theme h3,
.dark-theme .contact h1,
.dark-theme .contact span,
.dark-theme .based,
.dark-theme .menu ul li a,
.dark-theme .single-project-grid div h1,
.dark-theme .single-project-grid div p,
.dark-theme header .menu #back a {
  color: #fff;
}

.dark-theme a,
.dark-theme .about #frontend,
.dark-theme .title {
  color: #fff;
}

.dark-theme .underline--magical:hover,
.dark-theme .about #frontend:hover {
  color: #546A7B;
}

.dark-theme #scrolldown {
  color: white;
}

.dark-theme .menu .hamburger,
.dark-theme .menu .hamburger:after,
.dark-theme .menu .hamburger:before,
.dark-theme label input:checked + .menu .hamburger,
.dark-theme label input:checked + .menu .hamburger:after,
.dark-theme label input:checked + .menu .hamburger:before {
  background: #c2c2c2;
}

.dark-theme #hero-sun {
  margin-top: -100vh;
}

.dark-theme #hero-moon {
  margin-top: 100px;
}

html {
  font-size: 15px;
  height: 100vh;
}

section {
  overflow: hidden;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  opacity: 0;
  height: 100vh;
  overflow-x: hidden;
}

p a {
  color: black;
}

hr {
  width: 70%;
  border: 1px solid #EBECEE;
  margin: 0 auto;
}

.anchor {
  display: block;
  height: 78px;
  margin-top: -78px;
  visibility: hidden;
}

.pleaserotate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 0;
  background-color: white;
  z-index: 99999;
  display: none;
}

.pleaserotate > h1 {
  text-align: center;
  font-size: 35px;
  width: auto;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1000;
  background-color: white;
}

.scrolled {
  background-color: white;
}

.dark-header-scrolled {
  background-color: #232931;
}

header h2 a {
  color: black;
}

header h2 {
  text-align: left;
  margin-left: 80px;
  margin-top: 31px;
}

/* Theme switcher */
.switcher {
  position: absolute;
  top: 30px;
  right: 0;
  opacity: 1;
  text-align: left;
  visibility: visible;
  margin-right: 38px;
}

.toggle {
  position: relative;
  display: block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  margin: 0;
  float: right;
}

.toggle i {
  position: absolute;
  font-size: 13px;
  top: 5.5px;
  left: 5.4px;
}

.toggle:before,
.toggle-mobile:before {
  content: "";
  position: relative;
  top: 1px;
  left: 1px;
  width: 40px;
  height: 22px;
  display: block;
  background: #c8ccd4;
  border-radius: 12px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.toggle span,
.toggle-mobile span {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: block;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
          box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#cbx:checked + .toggle span {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

#cbx:checked + .toggle #sun {
  opacity: 0;
}

/* ##################################### */
.fa-facebook,
.fa-instagram,
.fa-envelope,
.fa-telegram-plane,
.fa-github,
.fa-desktop {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #cd486b;
}

.fa-envelope:hover,
.fa-desktop:hover {
  color: #ffa500;
}

.fa-telegram-plane:hover {
  color: #0088cc;
}

.fa-github:hover {
  color: #6e5494;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  height: 40px;
  text-align: center;
  width: 100%;
  background-color: white;
  top: calc(100vh - 40px);
}

footer h2 {
  height: 0;
  margin-left: 0;
  text-transform: uppercase;
  letter-spacing: 0;
}

#loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  overflow: visible;
  background: white url("../img/loader.gif") no-repeat center center;
  background-size: 300px 300px;
}

h1 {
  font-size: 40px;
  font-family: 'Gilroy-Bold';
  text-transform: uppercase;
  margin: 0 auto;
}

h2 {
  margin-left: 40px;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 800;
  line-height: 15px;
}

h3 {
  font-size: 20px;
  font-family: 'Metropolis';
  text-align: right;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.hero .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  padding: 150px;
}

.hero .left svg {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}

.hero .right {
  text-align: center;
  background: url("../img/main.svg") no-repeat center center;
  background-size: 90%;
}

.hero .right img {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50px;
  height: 50px;
  position: absolute;
}

#hero-sun {
  margin-top: 100px;
  margin-left: 10%;
}

#hero-moon {
  margin-top: -100vh;
  margin-left: 10%;
}

/* Scroll down arrow */
.arrow {
  width: 2.1rem;
  height: 50px;
  top: 93vh;
  left: calc(50vw - 1.05rem);
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
          animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate;
}

#scrolldown {
  width: 60px;
  height: 1rem;
  top: 85vh;
  left: calc(50vw - 31px);
  position: absolute;
  z-index: 1;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: 500;
  font-size: 15px;
}

.arrow svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}

.stretched {
  width: 100px;
}

label .menu {
  position: absolute;
  float: left;
  z-index: 2000;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 40px;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  cursor: pointer;
}

label .menu:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

label .text {
  left: 40px;
}

label .hamburger {
  z-index: 9999;
  position: relative;
  top: 18px;
  left: 9px;
  width: 20px;
  height: 2px;
  background: black;
  display: block;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

label .hamburger:after,
label .hamburger:before {
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: black;
}

label .hamburger:before {
  top: -6px;
}

label .hamburger:after {
  bottom: -6px;
}

label input {
  display: none;
}

label input:checked + .menu {
  z-index: 1000;
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: black;
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: black;
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: black;
  top: 0;
}

.dark-overlay {
  width: 100%;
  position: fixed;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 700ms cubic-bezier(1, 0, 0, 1);
  transition: all 700ms cubic-bezier(1, 0, 0, 1);
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  height: 100vh;
  width: 330px;
  z-index: 200;
  position: absolute;
  left: -100%;
  background: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-transition: all 700ms cubic-bezier(1, 0, 0, 1);
  transition: all 700ms cubic-bezier(1, 0, 0, 1);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.vertical-text {
  margin-left: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu ul li {
  font-size: 40px;
  margin: 10px;
  text-align: left;
  margin-left: 53px;
  -webkit-transition: all 1.4s cubic-bezier(1, 0, 0, 1);
  transition: all 1.4s cubic-bezier(1, 0, 0, 1);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.menu ul .based {
  font-size: 15px;
  margin-top: 40px;
}

.menu ul li a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.underline--magical {
  background-image: linear-gradient(120deg, #4285f4 0%, #63bbf5 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}

.underline--magical:hover {
  background-size: 100% 88%;
}

.container {
  width: 100%;
  position: absolute;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "content" "footer";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.title {
  font-weight: 800;
  font-size: 15px;
}

.about {
  height: calc(100vh - 80px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about #frontend {
  color: #546A7B;
}

.skills {
  height: calc(100vh - 80px);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

/* #################################### */
.portfolio {
  min-height: 70vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#meme {
  font-size: 10px;
  font-style: italic;
}

.portfolio figure {
  text-align: center;
  margin: 0;
}

.portfolio img {
  width: 80%;
  vertical-align: middle;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.all-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 85%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  margin-top: 10em;
  margin-bottom: 10em;
}

.all-projects-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 2em;
}

.all-projects-grid a {
  text-decoration: none;
}

.all-projects-grid .hover {
  height: 0;
  width: 100%;
  background: linear-gradient(120deg, #4285f4 0%, #63bbf5 100%);
  position: absolute;
  bottom: 0;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: normal;
}

.all-projects-grid .hover span {
  margin-left: 50px;
  margin-top: 200px;
  width: 80%;
  display: none;
}

.all-projects-grid div {
  position: relative;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  line-height: 40px;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
  border-radius: 8px;
}

.all-projects-grid div #type {
  font-family: 'Gilroy-Light';
  font-style: italic;
  letter-spacing: 2px;
  margin-left: 50px;
  margin-top: 150px;
  z-index: 1;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
}

.all-projects-grid div #name {
  font-family: 'Gilroy-Bold';
  font-size: 35px;
  margin-left: 50px;
  z-index: 1;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
}

.all-projects-grid #photographer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/ph.jpg") center center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/ph.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.all-projects-grid #photographer:hover .hover {
  height: 500px;
  opacity: 1;
}

.all-projects-grid #photographer:hover .hover span {
  display: block;
}

.all-projects-grid #photographer:hover #type {
  margin-top: 40px;
}

.all-projects .restaurant_anchor {
  margin-top: 250px;
}

.all-projects-grid #restaurant {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/rest.jpg") center center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/rest.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.all-projects-grid #restaurant:hover .hover {
  height: 500px;
  opacity: 1;
}

.all-projects-grid #restaurant:hover .hover span {
  display: block;
}

.all-projects-grid #restaurant:hover #type {
  margin-top: 40px;
}

.all-projects-grid .estate_anchor {
  margin-top: -250px;
}

.all-projects-grid #estate {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/estate.jpg") center center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/estate.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.all-projects-grid #estate:hover .hover {
  height: 500px;
  opacity: 1;
}

.all-projects-grid #estate:hover .hover span {
  display: block;
}

.all-projects-grid #estate:hover #type {
  margin-top: 40px;
}

.all-projects-grid #next {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../img/next.jpg") center center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/next.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.all-projects-grid #next:hover .hover {
  height: 500px;
  opacity: 1;
}

.all-projects-grid #next:hover .hover span {
  display: block;
}

.all-projects-grid #next:hover #type {
  margin-top: 40px;
}

.about .left {
  place-self: center;
  text-align: center;
}

.about .left img {
  width: 60%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.about .right {
  place-self: center;
  padding: 5em;
}

.contact {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 3em;
  padding-bottom: 3em;
}

.contact h1 {
  color: black;
  text-transform: none;
  width: 220px;
  text-align: center;
}

.contact span {
  color: black;
}

.contact .left img {
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  margin-left: 6em;
}

.contact .contact-links {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.contact .contact-links li {
  display: inline-block;
  margin: 10px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.contact .contact-links li a {
  color: black;
  font-size: 25px;
}

.contact .contact-links li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact .left {
  place-self: center;
  text-align: center;
}

.contact .right {
  place-self: center;
  text-align: center;
}

.skills .left {
  place-self: center;
  padding: 5em;
}

.skills .right {
  place-self: center;
  width: 100%;
  text-align: center;
}

.skills .right img {
  width: 60%;
  place-self: center;
}

header .menu #back {
  position: absolute;
  font-size: 18px;
  float: left;
  z-index: 2000;
  left: 15px;
  height: 40px;
  width: 40px;
  -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transition: all 500ms cubic-bezier(1, 0, 0, 1);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 700ms cubic-bezier(1, 0, 0, 1);
  transition: all 700ms cubic-bezier(1, 0, 0, 1);
}

header .menu #back a {
  color: black;
}

header .menu #back:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.single-project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 302px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: linear-gradient(120deg, #4285f4 0%, #63bbf5 100%);
  padding-left: 7em;
  padding-right: 7em;
  padding-top: 5em;
  padding-bottom: 5em;
}

.single-project-header #title {
  font-family: 'Gilroy-Bold';
  font-size: 42px;
  color: white;
}

.single-project-header #title2 {
  font-family: 'Gilroy-Bold';
  font-size: 42px;
  color: black;
}

.single-project-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 100%;
  padding-left: 7em;
  padding-right: 7em;
  margin: 0 auto;
  margin-top: 5em;
  grid-gap: 5em 3em;
}

.single-project-grid div h1 {
  font-family: 'Gilroy-Bold';
  font-size: 42px;
  width: auto;
  text-transform: none;
  text-align: left;
}

.single-project-grid div {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.single-project-grid #title {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.single-project-grid div p {
  line-height: 25px;
  font-size: 15px;
  color: #888888;
}

.single-project-grid #project-video {
  background-color: #f0f0f0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.single-project-grid #project-video video {
  width: 75%;
  padding: 3em;
}

.single-project-grid #project-video #mobile {
  width: 30%;
}

.single-project-grid #see-online {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background-color: #332f30;
}

.single-project-grid #see-online a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 995px) {
  .all-projects-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .all-projects-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 0;
  }
  .hero {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: .5fr 1fr;
        grid-template-rows: .5fr 1fr;
  }
  .arrow,
  #scrolldown {
    display: none;
  }
  .hero .left {
    padding: 50px;
  }
  .hero .left p {
    text-align: center;
  }
  .menu ul {
    left: 0;
    left: -100%;
    width: 100%;
  }
  .about .left {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .about .left img {
    width: 40%;
  }
  header h2 {
    text-align: center;
    margin-left: 0;
  }
  header {
    width: 100%;
  }
  label .menu {
    left: 0;
  }
  .switcher {
    visibility: hidden;
    opacity: 0;
  }
  #hero-sun,
  #hero-moon {
    display: none;
  }
  footer {
    position: unset;
  }
  label input:checked + .menu .hamburger {
    background: black;
  }
  label input:checked + .menu .hamburger:after {
    background: black;
  }
  label input:checked + .menu .hamburger:before {
    background: black;
  }
  .about {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    min-height: 100vh;
    height: auto;
  }
  .about .right {
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 7em;
    margin-bottom: 5em;
  }
  .skills {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: auto;
    min-height: 100vh;
  }
  .skills-bar-container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
  .portfolio {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: auto;
    padding-bottom: 0;
  }
  .portfolio .all-projects {
    grid-column: auto;
  }
  .portfolio .right {
    margin-top: 3em;
  }
  .portfolio .right img {
    width: 100%;
  }
  .portfolio .right figure {
    margin: 1em;
  }
  .all-projects-grid .restaurant_anchor {
    margin-top: 0;
  }
  .all-projects-grid .estate_anchor {
    margin-top: 0;
  }
  .contact {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: auto;
    padding-bottom: 0;
  }
  .contact .left {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .contact .left img {
    margin-left: 0;
  }
  .portfolio .right {
    margin-right: 3em;
    margin-left: 3em;
  }
  .single-project-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .single-project-grid #project-video {
    grid-column: auto;
  }
  .single-project-grid #see-online {
    grid-column: auto;
  }
  .single-project-grid #project-video video {
    width: 100%;
  }
  .single-project-grid #project-video #mobile {
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  #goback {
    top: 50px;
  }
  .hero .right {
    background-size: 90%;
  }
  .about .right,
  .skills .left {
    margin: 0;
    padding: 2em;
  }
  .skills-bar-container {
    width: 90%;
  }
  .portfolio .right {
    margin-left: 1em;
    margin-right: 1em;
  }
  .contact .contact-links li {
    margin: 20px;
  }
  .contact .contact-links li a {
    font-size: 30px;
  }
  footer h2 {
    font-size: 12px;
  }
  .menu ul li {
    font-size: 30px;
    margin-left: 30px;
  }
  .all-projects {
    padding-bottom: 3em;
  }
  .portfolio {
    min-height: 100vh;
  }
  .portfolio .all-projects {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0;
  }
  .contact .left img {
    width: 90%;
  }
  .single-project-grid {
    padding-left: 1em;
    padding-right: 1em;
  }
  .single-project-header {
    padding-left: 1em;
    padding-right: 1em;
  }
  .single-project-grid #project-video video {
    padding: 1em;
  }
  header .menu #back {
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */