*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.otf') format('woff2');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-ExtraBold.otf') format('woff2');
}

.change-browser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background: white;
}

a {
    text-decoration: none;

}

footer,
.container,
.contact .right img,
h2,
a,
.contact .contact-links li a,
p,
h3,
.contact h1,
.contact span,
#hero-sun,
#hero-moon,
main,
.single-project-grid div h1,
.single-project-grid div p,
header .menu #back a,
.title,
.single-project-grid #see-online span {
    -webkit-transition: all 700ms cubic-bezier(1, 0, 0, 1);
    transition: all 700ms cubic-bezier(1, 0, 0, 1);
}

.animation {
    -webkit-transition: all 700ms cubic-bezier(1, 0, 0, 1);
    transition: all 700ms cubic-bezier(1, 0, 0, 1);
}

.dark-theme {

    .contact .right img {
        border: 40px solid #232931;
        border-bottom: none;
    }

    .arrow path {
        fill: white;
        stroke: white
    }

    footer,
    .container {
        background-color: #393e46;
    }

    .hero .left {
        background-color: #7d7f83
    }

    .hero .right {
        background-color: #393e46
    }

    h2,
    a,
    .contact .contact-links li a,
    p,
    h3,
    .contact h1,
    .contact span,
    .single-project-grid div h1,
    .single-project-grid div p,
    header .menu #back a,
    #skills-left-p {
        color: #fff;
    }

    a,
    .about #frontend,
    .title {
        color: #fff
    }

    .about #frontend:hover {
        color: #546A7B
    }

    #hero-sun {
        margin-top: -100vh;
    }

    #hero-moon {
        margin-top: 20vh
    }

}

html {
    font-size: 15px;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section {
    overflow: hidden;
}

body {
    font-family: 'Montserrat',
        sans-serif;
    margin: 0;
    opacity: 0;
    height: 100vh;
    overflow-x: hidden;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

p {
    font-weight: 300;
}

b {
    font-weight: 600;
}

p a {
    color: black;
}

hr {
    width: 70%;
    border: 1px solid #EBECEE;
    margin: 0 auto;
}

.anchor {
    display: block;
    height: 0;
    visibility: hidden;
}

.pleaserotate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0;
    background-color: white;
    z-index: 99999;
    display: none;
}

.pleaserotate>h1 {
    text-align: center;
    font-size: 35px;
    width: auto;
}

header {
    grid-area: header;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

.scrolled {
    background-color: white;
}

header h2 a {
    color: black;
}

header h2 {
    text-align: left;
    margin-left: 80px;
    margin-top: 31px;
}

/* Theme switcher */
.switcher {
    position: absolute;
    top: 30px;
    right: 30px;
    opacity: 1;
    text-align: left;
    visibility: visible;
    margin-right: 38px;
}

.toggle {
    position: relative;
    display: block;
    width: 42px;
    height: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    margin: 0;
    float: right;
}

.toggle i {
    position: absolute;
    font-size: 13px;
    top: 5.5px;
    left: 5.4px;
}

.toggle:before,
.toggle-mobile:before {
    content: "";
    position: relative;
    top: 1px;
    left: 1px;
    width: 40px;
    height: 22px;
    display: block;
    background: #c8ccd4;
    border-radius: 12px;
    transition: background 0.2s ease;
}

.toggle span,
.toggle-mobile span {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    display: block;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(154, 153, 153, 0.75);
    transition: all 0.2s ease;
}

#cbx:checked+.toggle span {
    transform: translateX(18px);
}

#cbx:checked+.toggle #sun {
    opacity: 0;
}


/* ##################################### */


.fa-facebook,
.fa-instagram,
.fa-envelope,
.fa-telegram-plane,
.fa-github,
.fa-desktop {
    transition: all 0.2s ease-in;
}

.fa-facebook:hover {
    color: #3b5998
}

.fa-instagram:hover {
    color: #cd486b
}

.fa-envelope:hover,
.fa-desktop:hover {
    color: #ffa500
}

.fa-telegram-plane:hover {
    color: #0088cc
}

.fa-github:hover {
    color: #6e5494
}

main {
    grid-area: content;
}

footer {
    grid-area: footer;
    height: 40px;
    text-align: center;
    width: 100%;
    background-color: white;
    top: calc(100vh - 40px);
}

footer h2 {
    height: 0;
    margin-left: 0;
    letter-spacing: 0;
}

#loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    overflow: visible;
    text-align: center;
    background-color: #fff;
}

#loader svg {
    width: 100%;
    height: 40px;
}

#loader svg path,
#loader svg rect {
    fill: #000;
}

h1 {
    font-size: 40px;
    font-family: 'Gilroy-Bold';
    text-transform: uppercase;
    margin: 0 auto;
}

h2 {
    margin-left: 40px;
    padding-left: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 800;
    line-height: 15px;
}

h3 {
    font-size: 20px;
    font-family: 'Metropolis';
    text-align: right;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin-top: -80px;
}

.hero .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 150px;
}

.button-container {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4285F4;
    border-radius: 5px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    color: #000;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: .5em;
}

.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #4285F4;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:hover {
    color: #ffffff;
    border: 1px solid #4285F4;
}

.button:hover:before {
    top: -35%;
    background-color: #4285F4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
    top: -45%;
    background-color: #4285F4;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


.hero .left svg {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
}

.hero .right {
    text-align: center;
    background: url("../img/main.svg") no-repeat center center;
    background-size: 90%;

}

.hero .right img {
    justify-self: center;
    align-self: center;
    width: 50px;
    height: 50px;
    position: absolute;
}

#hero-sun {
    margin-top: 20vh;
    margin-left: 10%;
}

#hero-moon {
    margin-top: -100vh;
    margin-left: 10%;
}

/* Scroll down arrow */

.arrow {
    width: 2.1rem;
    height: 50px;
    top: 93vh;
    left: calc(50vw - 1.05rem);
    position: absolute;
    z-index: 1;
    animation: bounce 800ms cubic-bezier(0.7, 0, 0.3, 1) infinite alternate
}

.arrow svg {
    transform: rotate(-90deg);
    margin-left: auto;
    margin-right: auto
}

@keyframes bounce {
    from {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }

    to {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }
}

.stretched {
    width: 100px;
}

.dark-overlay {
    width: 100%;
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    transition: all 700ms cubic-bezier(1, 0, 0, 1);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.vertical-text {
    margin-left: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
}

.title {
    font-weight: 800;
    font-size: 15px;
}

.about {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about #frontend {
    color: #546A7B;
}

.skills {
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* #################################### */


.portfolio {
    min-height: 70vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#meme {
    font-size: 10px;
    font-style: italic;
}

.portfolio figure {
    text-align: center;
    margin: 0;
}

.portfolio img {
    width: 80%;
    vertical-align: middle;
    transition: all .2s ease-in-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
    grid-column: 1/3;
    margin-top: 10em;
    margin-bottom: 10em;
}

.all-projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    grid-gap: 2em;
}

.all-projects-grid a {
    text-decoration: none;
}

.all-projects-grid .hover {
    height: 0;
    width: 100%;
    background: linear-gradient(120deg, #4285f4 0%, #63bbf5 100%);
    position: absolute;
    bottom: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
    line-height: normal;
}

.all-projects-grid .hover span {
    margin-left: 50px;
    margin-top: 200px;
    width: 80%;
    display: none;
}

.all-projects-grid div {
    position: relative;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    line-height: 40px;
    -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
    border-radius: 8px;
}

.all-projects-grid div #type {
    font-family: 'Gilroy-Light';
    font-style: italic;
    letter-spacing: 2px;
    margin-left: 50px;
    margin-top: 150px;
    z-index: 1;
    -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
}

.all-projects-grid div #name {
    font-family: 'Gilroy-Bold';
    font-size: 35px;
    margin-left: 50px;
    z-index: 1;
    -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
}

.all-projects-grid #photographer {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../img/ph.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.all-projects-grid #photographer:hover .hover {
    height: 500px;
    opacity: .9;
}

.all-projects-grid #photographer:hover .hover span {
    display: block;
}

.all-projects-grid #photographer:hover #type {
    margin-top: 40px;
}

.all-projects .restaurant_anchor {
    margin-top: 250px;
}

.all-projects-grid #restaurant {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../img/rest.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.all-projects-grid #restaurant:hover .hover {
    height: 500px;
    opacity: .9;
}

.all-projects-grid #restaurant:hover .hover span {
    display: block;
}

.all-projects-grid #restaurant:hover #type {
    margin-top: 40px;
}

.all-projects-grid .estate_anchor {
    margin-top: -250px;
}

.all-projects-grid #estate {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../img/estate.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.all-projects-grid #estate:hover .hover {
    height: 500px;
    opacity: .9;
}

.all-projects-grid #estate:hover .hover span {
    display: block;
}

.all-projects-grid #estate:hover #type {
    margin-top: 40px;
}

.all-projects-grid #next {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../img/next.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.all-projects-grid #next:hover .hover {
    height: 500px;
    opacity: .9;
}

.all-projects-grid #next:hover .hover span {
    display: block;
}

.all-projects-grid #next:hover #type {
    margin-top: 40px;
}

.about .left {
    place-self: center;
    text-align: center;
}

.about .left img {
    width: 60%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.about .right {
    place-self: center;
    padding: 5em;

}

.contact {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 3em;
    padding-bottom: 3em;
}

.contact h1 {
    color: black;
    text-transform: none;
    text-align: center;
}

.contact span {
    color: black
}

.contact .left img {
    width: 80%;
    object-fit: cover;
    border-radius: 8px;
    margin-left: 6em;
}

.contact .contact-links {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

.contact .contact-links li {
    display: inline-block;
    margin: 10px;
    transition: transform 0.5s;
}

.contact .contact-links li a {
    color: black;
    font-size: 25px;
}

.contact .contact-links li:hover {
    transform: scale(1.2);
}

.contact .left {
    place-self: center;
    text-align: center;
}

.contact .right {
    place-self: center;
    text-align: center;
}

.skills .left {
    place-self: center;
    padding: 5em;
}

.skills .right {
    place-self: center;
    width: 100%;
    text-align: center;
}

.skills .right img {
    width: 60%;
}

// Single project
header .menu #back {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    float: left;
    z-index: 2000;
    height: 40px;
    width: 40px;
    -webkit-transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transition: all 500ms cubic-bezier(1, 0, 0, 1);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 700ms cubic-bezier(1, 0, 0, 1);
}

header .menu #back a {
    color: black;
}

header .menu #back:hover {
    transform: scale(1.2);
}

.single-project-header {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 302px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-image: linear-gradient(120deg, #4285f4 0%, #63bbf5 100%);
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 5em;
    padding-bottom: 5em;
}

.single-project-header #title {
    font-family: 'Gilroy-Bold';
    font-size: 42px;
    color: white;
}

.single-project-header #title2 {
    font-family: 'Gilroy-Bold';
    font-size: 42px;
    color: black;
}

.single-project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-left: 7em;
    padding-right: 7em;
    margin: 0 auto;
    margin-top: 5em;
    grid-gap: 5em 3em;
}

.single-project-grid div h1 {
    font-family: 'Gilroy-Bold';
    font-size: 42px;
    width: auto;
    text-transform: none;
    text-align: left;
}

.single-project-grid div {
    justify-self: center;
    align-self: center;

}

.single-project-grid #title {
    justify-self: center;
    align-self: center;
}

.single-project-grid div p {
    line-height: 25px;
    font-size: 15px;
    color: #888888;
}

.single-project-grid #project-video {
    background-color: #f0f0f0;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.single-project-grid #project-video video {
    width: 75%;
    padding: 3em;
}

.single-project-grid #project-video #mobile {
    width: 30%
}

.single-project-grid #see-online {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    grid-column: 1/3;
    background-image: linear-gradient(120deg, #4285f4 0%, #63bbf5 100%);
}

.single-project-grid #see-online #prev {
    margin-right: auto;
    padding: 40px;
}

.single-project-grid #see-online #next {
    margin-left: auto;
    padding: 40px;
}

.single-project-grid #see-online #prev:hover,
.single-project-grid #see-online #next:hover {
    transform: scale(1.2);
}

.single-project-grid #see-online a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 800px) {
    .all-projects-grid {
        grid-template-columns: auto;
        width: 90%;
    }
}

@media screen and (max-width: 768px) {

    main {
        margin: 0;
    }

    .hero {
        grid-template-columns: auto;
        grid-template-rows: .4fr 1fr;
    }

    .arrow {
        display: none;
    }

    .hero .left {
        padding: 35px;
    }

    .hero .left p {
        text-align: center;
    }

    .about .left {
        grid-row: 2;
    }

    .about .left img {
        width: 40%;
    }


    header h2 {
        text-align: center;
        margin-left: 0;
    }

    header {
        width: 100%;
    }

    .switcher {
        visibility: hidden;
        opacity: 0
    }

    #hero-sun,
    #hero-moon {
        display: none
    }

    footer {
        position: unset;
    }

    .about {
        grid-template-columns: auto;
        min-height: 100vh;
        height: auto;
    }

    .about .right {
        margin-right: 3em;
        margin-left: 3em;
        margin-top: 7em;
        margin-bottom: 5em;
    }

    .skills {
        grid-template-columns: auto;
        height: auto;
        min-height: 100vh;
    }

    .portfolio {
        grid-template-columns: auto;
        height: auto;
        padding-bottom: 0;
    }

    .portfolio .all-projects {
        grid-column: auto;
    }

    .portfolio .right {
        margin-top: 3em;
    }

    .portfolio .right img {
        width: 100%;
    }

    .portfolio .right figure {
        margin: 1em;
    }

    .all-projects-grid .restaurant_anchor {
        margin-top: 0;
    }

    .all-projects-grid .estate_anchor {
        margin-top: 0;
    }

    .contact {
        grid-template-columns: auto;
        height: auto;
        padding-bottom: 0;
    }

    .contact .left {
        grid-row: 2;
    }

    .contact .left img {
        margin-left: 0;
    }

    .portfolio .right {
        margin-right: 3em;
        margin-left: 3em;
    }

    .single-project-grid {
        grid-template-columns: auto;
    }

    .single-project-grid #project-video {
        grid-column: auto;
    }

    .single-project-grid #see-online {
        grid-column: auto;
    }

    .single-project-grid #project-video video {
        width: 100%;
    }

    .single-project-grid #project-video #mobile {
        width: 70%;
    }

}

@media screen and (max-width: 500px) {

    #goback {
        top: 50px;
    }

    .hero .right {
        background-size: 90%;
    }

    .about .right,
    .skills .left {
        margin: 0;
        padding: 2em;
    }

    .portfolio .right {
        margin-left: 1em;
        margin-right: 1em;
    }

    .contact .contact-links li {
        margin: 20px;
    }

    .contact .contact-links li a {
        font-size: 30px;
    }

    footer h2 {
        font-size: 12px;
    }

    .all-projects {
        padding-bottom: 3em;
    }

    .portfolio {
        min-height: 100vh;
    }

    .portfolio .all-projects {
        width: 100%;
        margin-top: 3em;
        margin-bottom: 3em;
        padding: 0;
    }

    .contact .left img {
        width: 90%;
    }

    .single-project-grid {
        padding-left: 1em;
        padding-right: 1em;
    }

    .single-project-header {
        padding-left: 1em;
        padding-right: 1em;
    }

    .single-project-grid #project-video video {
        padding: 1em;
    }

    header .menu #back {
        left: 0;
    }

    .single-project-grid #see-online #prev,
    .single-project-grid #see-online #next {
        padding: 20px;
    }
}